:root {
  --COLOR-BG       : #2C7631;
  --COLOR-BG-HOVER : #286A2C;
  --COLOR-FONT     : #D7BF91;
}

#sketch {
  z-index  : 1;
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

.divider-adjust {
  height : 16rem;
}

.sc-stylesheet {
  width : 48rem;
}

.sc-redesign-points {
  margin-top: 5rem;
  margin-left : 5rem;
}

.sc-redesign-points > .point {
  display       : flex;
  margin-bottom : 5rem;
}

.sc-redesign-points > .point > img {
  width        : 10rem;
  height       : 10rem;
  margin-top   : 0.9rem;
  margin-right : 3rem;
}

.sc-redesign-points > .point > .desc > h2 {
  margin-bottom : 0.5rem;
}

.sc-redesign-points > .point > .desc {
  max-width   : 50rem;
  padding-top : 2rem;
}
