:root {
  --COLOR-BG       : #000;
  --COLOR-BG-HOVER : #111111;
  --COLOR-FONT     : #B0A394;
}

#sketch {
  z-index  : 1;
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

.divider-adjust {
  height : 10rem;
}
.sc-fade{
  width: 50rem;
}
