@font-face {
  font-family : 'New York';
  src         : url('../fonts/NewYork.otf') format('opentype');
}

@font-face {
  font-family : 'Rock Salt';
  src         : url('../fonts/RockSalt.ttf') format('truetype');
}

:root {
  --COLOR-DARK          : #232323;
  --COLOR-RED           : #EB0000;
  --CURVE-SHOW          : cubic-bezier(0.6,0,0,1);
  --SIZE-SECTION-HEIGHT : 80rem;
  --SIZE-SECTION-WIDTH  : 48rem;
}

body,
html {
  height         : 100%;
  margin         : 0;
  padding        : 0;
  color          : var(--COLOR-DARK);
  overflow-y     : hidden;
  font-family    : "New York",
                   "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 62.5%;
  letter-spacing : 0.05rem;
}

a,
button,
h1,
iframe,
p {
  margin   : 0;
  padding  : 0;
  overflow : hidden;
  border   : 0;
}

img {
  pointer-events : none;
}

.wrapper {
  display        : flex;
  height         : 100%;
  margin         : 0;
  overflow-x     : auto;
  overflow-y     : hidden;
  align-items    : center;
  flex-direction : row;
  flex-wrap      : nowrap;
  perspective    : 100rem;
  /* for parallax */
}

.wrapper::-webkit-scrollbar {
  /* WebKit */
  width  : 0;
  height : 0;
}

.wrapper > section {
  height       : 80vh;
  max-height   : var(--SIZE-SECTION-HEIGHT);
  margin-right : 2rem;
}

/* ========== Sections ========== */

.section-intro {
  /* position: relative; */
  display     : flex;
  align-items : center;
  flex        : 1 0 95vw;
}

.section-intro .content {
  max-width   : 70rem;
  margin-left : 10vw;
  flex        : 1 0 auto;
  transform   : translateZ(5rem);
}

.intro-name {
  margin-bottom : 4rem;
}

.intro-os {
  position  : relative;
  left      : 12rem;
  color     : var(--COLOR-RED);
  transform : rotate(-5deg);
}

.intro-ins {
  color           : var(--COLOR-RED);
  text-decoration : underline;
}

.hover-cat {
  z-index    : 20;
  position   : absolute;
  right      : 0rem;
  bottom     : -10rem;
  width      : 27rem;
  height     : 37rem;
  opacity    : 0;
  box-shadow : 2rem 4rem 5rem rgba(0, 0, 0, 0.1);
  transform  : translate3d(-10rem,0,-5rem) rotate(0);
  transition : all 1s var(--CURVE-SHOW);
}

.intro-ins:hover {
  color : var(--COLOR-DARK);
}

.os:hover > .hover-cat {
  opacity   : 1;
  transform : translate3d(0,0,5rem) rotate(8deg);
}

#sketch-seeking {
  z-index          : -10;
  width            : 100%;
  height           : 100%;
  margin-left      : -18vw;
  overflow         : hidden;
  background-color : #F4F4F4;
  flex             : 1 1 auto;
}

/* General settings */

.section {
  display         : flex;
  position        : relative;
  height          : 100%;
  align-items     : center;
  flex-basis      : var(--SIZE-SECTION-WIDTH);
  flex-direction  : column;
  flex-grow       : 1;
  flex-shrink     : 0;
  justify-content : flex-end;
}

.section:hover {
  cursor : pointer;
}

.section > .content {
  z-index         : 2;
  display         : flex;
  max-width       : 80%;
  margin-bottom   : 5rem;
  align-items     : center;
  flex-direction  : column;
  justify-content : flex-end;
  transition      : all 0.5s var(--CURVE-SHOW);
}

.section > .content > h1 {
  margin-bottom : 3rem;
  transition    : all 0.5s var(--CURVE-SHOW);
}

.section > .hover {
  z-index    : 20;
  position   : absolute;
  opacity    : 0;
  transition : all 1s var(--CURVE-SHOW);
}

.section:hover > .content > h1 {
  transform : translate(0,-2rem);
}

.section:hover > .content {
  transform : translate(0,-2rem);
}

.section:active > .content {
  transform : translate(0,-1rem);
}

/* ========== Specific sections ========== */

.section-echo {
  color            : #F1EC6B;
  background-image : url('../images/cover-echo.jpg');
  background-color : #DC2107;
  background-size  : cover;
}

.hover-echo {
  top       : 15rem;
  left      : -5rem;
  transform : translate3d(5rem,5rem,0);
}

.section-echo:hover > .hover-echo {
  opacity   : 1;
  transform : translate3d(0,0,5rem);
}

.section-wechat {
  color            : #D7BF91;
  background-image : url('../images/cover-wechat.jpg');
  background-color : #2C7631;
  background-size  : cover;
}

.hover-wechat-big {
  top       : 10rem;
  left      : -1rem;
  transform : translate3d(-10rem,0,-10rem);
}

.hover-wechat-small {
  right     : -1rem;
  bottom    : 25rem;
  transform : translate3d(10rem,0,-10rem);
}

.section-wechat:hover > .hover-wechat-big {
  opacity   : 1;
  transform : translate3d(0,0,5rem);
}

.section-wechat:hover > .hover-wechat-small {
  opacity   : 1;
  transform : translate3d(0,0,5rem);
}

.section-ddz {
  color            : #6B4700;
  background-image : url('../images/cover-ddz.jpg');
  background-color : #F8D797;
  background-size  : cover;
}

.hover-ddz {
  top       : 22rem;
  transform : translate3d(0,0,0);
}

.section-ddz:hover > .hover-ddz {
  opacity   : 1;
  transform : translate3d(0,0,5rem);
}

.section-flyme {
  color            : #FFF;
  background-image : url('../images/cover-flyme.jpg');
  background-color : #46C8FF;
  background-size  : cover;
  flex-basis       : 32rem;
}

.hover-flyme {
  top       : 10rem;
  left      : -3rem;
  transform : translate3d(0,5rem,0);
}

.section-flyme:hover > .hover-flyme {
  opacity   : 1;
  transform : translate3d(0,0,5rem);
}

.section-qq {
  color            : #AAFFFA;
  background-image : url('../images/cover-qq.jpg');
  background-color : #0050EC;
  background-size  : cover;
  flex-basis       : 32rem;
}

.hover-qq {
  bottom    : 25rem;
  left      : -5rem;
  transform : translate3d(5rem,-5rem,0) rotate(0);
}

.section-qq:hover > .hover-qq {
  opacity   : 1;
  transform : translate3d(0,0,5rem)rotate(-5deg);
}

.section-others {
  background-color : none;
  flex-basis       : 32rem;
}

.section-others > div:first-child {
  margin-bottom : 2rem;
}

.section-olddays {
  color            : #B0A394;
  background-image : url('../images/cover-olddays.jpg');
  background-color : #000;
  background-size  : cover;
  flex-basis       : 32rem;
}

.hover-olddays {
  top       : 5rem;
  right     : -5rem;
  transform : translate3d(-10rem,10rem,0) rotate(-30deg);
}

.section-olddays:hover > .hover-olddays {
  opacity   : 1;
  transform : translate3d(0,0,5rem) rotate(0);
}

.section-learning {
  width            : 100%;
  color            : #FFF;
  background-color : #004251;
  flex             : 1 1 auto;
}

.section-contact {
  display         : flex;
  position        : relative;
  flex            : 1 0 95vw;
  flex-direction  : row-reverse;
  justify-content : flex-end;
}

.section-contact > .content {
  z-index         : 2;
  display         : flex;
  max-width       : 80rem;
  margin-right    : 4%;
  text-align      : left;
  align-items     : flex-start;
  flex-direction  : column;
  flex-shrink     : 0;
  justify-content : center;
}

.section-contact > .footer {
  position : absolute;
  right    : 4%;
  bottom   : 0;
}

.section-contact > .content > p {
  max-width     : 40rem;
  margin-bottom : 2rem;
}

.get-in-touch {
  z-index          : 3;
  margin-top       : 1rem;
  padding          : 2rem;
  color            : white;
  background-color : var(--COLOR-DARK);
  text-align       : left;
  font-family      : Tahoma;
  font-size        : 2.4rem;
  font-style       : normal;
  font-weight      : bold;
  line-height      : 3rem;
  letter-spacing   : -0.01em;
}

.primary {
  background-color : var(--COLOR-RED);
}

.dots {
  z-index  : 2;
  position : absolute;
  top      : 18.5rem;
  right    : 32.6rem;
  width    : 582px;
  height   : 432px;
}

.qrcode {
  z-index  : 1;
  position : absolute;
  top      : 23.1rem;
  right    : 50.2rem;
}

.qrcode > rect {
  stroke       : #F4F4F4;
  stroke-width : 10;
}

.code-1 {
  transition                 : all 0.3s;
  transition-timing-function : ease-in-out;
}

.code-2 {
  transition                 : all 0.4s;
  transition-timing-function : ease-in-out;
}

.code-3 {
  transition                 : all 0.6s;
  transition-timing-function : ease-in-out;
}

.code-4 {
  transition                 : all 0.8s;
  transition-timing-function : ease-in-out;
}

.section-contact > .content:hover .code-1 {
  stroke-width : 0;
}

.section-contact > .content:hover .code-2 {
  stroke-width : 0;
}

.section-contact > .content:hover .code-3 {
  stroke-width : 0;
}

.section-contact > .content:hover .code-4 {
  stroke-width : 0;
}

.section-contact > .bg {
  min-width        : 80rem;
  height           : 100%;
  margin-right     : -10%;
  background-color : #F4F4F4;
  flex             : 1 1 auto;
}

/* ========== Text Styles ========== */

.font-overview-headline {
  color          : var(--COLOR-DARK);
  font-family    : "New York",
                   "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 6rem;
  font-weight    : 500;
  letter-spacing : -0.05rem;
}

.font-overview-subtitle {
  color          : var(--COLOR-DARK);
  opacity        : 0.2;
  font-family    : "New York",
                   "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 4rem;
  font-weight    : 500;
  letter-spacing : -0.05rem;
}

.font-overlapping-sound {
  font-family    : "Rock Salt",
                   "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 1.4rem;
  letter-spacing : 0.2em;
}

.font-section-title {
  text-align  : center;
  font-family : "New York",
                "SF Pro Text",
                "Helvetica",
                "Tahoma",
                sans-serif;
  font-size   : 4.8rem;
  font-weight : 500;
  /* line-height : 140%; */
  /* letter-spacing : -0.01em; */
}

.font-section-desc {
  text-align     : center;
  font-family    : "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 16px;
  font-style     : normal;
  font-weight    : normal;
  line-height    : 150%;
  letter-spacing : -0.01em;
}

.font-section-footer {
  color          : var(--COLOR-DARK);
  opacity        : 0.3;
  text-align     : right;
  font-family    : "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 12px;
  font-style     : normal;
  font-weight    : normal;
  letter-spacing : -0.01em;
}

/* ========== Scaling ========== */

@media
  screen
  and (max-height : 1024px) {
  :root {
    --SIZE-SECTION-HEIGHT : 80vh;
  }
}

@media
  screen
  and (max-width : 1280px) {
  html {
    font-size : 52%;
  }

  .section-intro .content {
    max-width : 60rem;
    transform : translateZ(0rem);
  }
}

@media
  screen
  and (max-width : 500px) {
  :root {
    --SIZE-SECTION-HEIGHT : 80vh;
    --SIZE-SECTION-WIDTH  : 100vw;
  }

  html {
    font-size : 43%;
  }

  .section-intro .content {
    flex      : 0 1 80vw;
    transform : translateZ(0rem);
  }

  #sketch-seeking {
    max-width   : 130vw;
    margin-left : -50vw;
  }
}
