:root {
  --SIZE-SHOWCASE-HEIGHT : 100rem;
}

#home {
  z-index                    : 30;
  display                    : flex;
  position                   : absolute;
  top                        : -0.1rem;
  left                       : 5rem;
  width                      : 7rem;
  height                     : 7rem;
  align-items                : center;
  justify-content            : center;
  transition                 : top 0.8s;
  transition-timing-function : var(--CURVE-SHOW);
  cursor                     : pointer;
}

.svg-lh {
  stroke            : var(--COLOR-BG);
  stroke-dasharray  : 102px;
  stroke-dashoffset : 204px;
  transition        : all 0.6s ease-out;
}

.svg-home {
  stroke            : var(--COLOR-FONT);
  stroke-dasharray  : 82px;
  stroke-dashoffset : 82px;
  transition        : all 0.6s ease-in;
}

.svg-bg {
  transition                 : all 0.8s;
  transition-timing-function : var(--CURVE-SHOW);
}

#home:hover {
  top : 0.5rem;
}

#home:hover .svg-bg {
  fill : var(--COLOR-BG);
}

#home:hover .svg-lh {
  stroke-dashoffset : 102px;
}

#home:hover .svg-home {
  stroke-dashoffset : 0;
  transition-delay  : 0;
}

.wrapper > section {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  height             : 100vh;
  max-height         : var(--SIZE-SHOWCASE-HEIGHT);
  margin-right       : 0;
  border-top         : solid 0.5rem var(--COLOR-BG);
  border-bottom      : solid 0.5rem var(--COLOR-BG);
  border-left        : solid 0.5rem var(--COLOR-BG);
}

/* ========== Openning ========== */

.openning {
  z-index          : -10;
  display          : flex;
  position         : relative;
  color            : var(--COLOR-FONT);
  background-color : var(--COLOR-BG);
  align-items      : center;
  flex             : 1 0 95vw;
}

.openning > h1 {
  z-index        : 2;
  margin-left    : 10vw;
  text-align     : left;
  pointer-events : none;
}

.openning > .divider {
  z-index          : 2;
  width            : 0.2rem;
  margin           : 0 12rem;
  background-color : var(--COLOR-FONT);
  pointer-events   : none;
}

.openning > .brief {
  z-index        : 2;
  max-width      : 90rem;
  pointer-events : none;
}

.brief > p {
  margin-bottom : 2rem;
  text-align    : left;
}

.brief > p:last-child {
  margin-bottom : 0;
}

/* ========== Showcase Sections ========== */

.showcase {
  display          : flex;
  position         : relative;
  min-width        : 100px;
  height           : 100%;
  overflow         : hidden;
  background-color : #FFF;
  align-items      : center;
  flex             : 1 0 auto;
  flex-direction   : row;
  justify-content  : center;
}

.showcase-left {
  justify-content : flex-start;
}

.showcase > .desc {
  position  : absolute;
  bottom    : 3rem;
  left      : 5rem;
  width     : 80%;
  max-width : 80rem;
  color     : var(--COLOR-DARK);
}

.showcase-column {
  background-color : var(--COLOR-BG);
  flex-direction   : column;
}

.showcase-column > .cube {
  display          : flex;
  width            : 100%;
  margin-bottom    : 0.5rem;
  background-color : white;
  text-align       : center;
  align-items      : center;
  flex             : 1 1 0;
  justify-content  : center;
}

.showcase-column > .cube:last-child {
  margin-bottom : 0;
}

.showcase > .left-side-shrink {
  margin-left : -5rem;
}

.showcase > .showcase-img-only {
  margin-left : 5rem;
}

.showcase > .showcase-img-only:last-child {
  margin-right : 5rem;
}

.showcase > img,
video {
  max-height : 100%;
}

/* ========== Phones ========== */

.phone {
  z-index           : 30;
  display           : flex;
  position          : relative;
  width             : 64rem;
  height            : 80rem;
  background-image  : url("../images/hd-iphone-shadow.png");
  background-repeat : no-repeat;
  background-size   : contain;
  align-items       : center;
  flex-direction    : column;
}

.zoomin {
  margin-top : 21rem;
  transform  : scale(1.78);
}

.phone > .cover {
  z-index           : 30;
  width             : 100%;
  height            : 100%;
  background-repeat : no-repeat;
  background-size   : contain;
}

.phone > img {
  z-index  : 1;
  position : absolute;
  top      : 3.6rem;
  width    : 27.8rem;
}

.phone >.phone-img-short {
  margin-top : 5rem;
}

.phone > .phone-video-short {
  z-index  : 0;
  position : absolute;
  top      : 9rem;
  width    : 27.8rem;
}

.phone > .light {
  background-image : url("../images/hd-iphone-light.png");
}

.phone > .dark {
  background-image : url("../images/hd-iphone-dark.png");
}

.phone > .bg-light {
  z-index          : 0;
  position         : absolute;
  top              : 3rem;
  width            : 27.8rem;
  height           : 61rem;
  background-color : #F7F7F7;
}

.phone > .bg-dark {
  z-index          : 0;
  position         : absolute;
  top              : 3rem;
  width            : 27.8rem;
  height           : 61rem;
  background-color : #202020;
}

.come-closer {
  margin-left : -20rem;
}

.side-by-side {
  margin-left : -31.5rem;
}

/* ========== Ending ========== */

.ending {
  z-index          : -10;
  display          : flex;
  position         : relative;
  color            : var(--COLOR-FONT);
  background-color : var(--COLOR-BG);
  align-items      : center;
  flex             : 1 0 35vw;
  justify-content  : center;
  transition       : all 0.5s ease-in-out;
  cursor           : pointer;
}

.next {
  display        : flex;
  height         : 100%;
  padding        : 0 4vw;
  align-items    : center;
  flex-direction : row;
}

.next > .title {
  margin-left : 1.5rem;
  padding-top : 0.8rem;
  transition  : all 0.5s ease-in-out;
}

.next > .button {
  display         : flex;
  width           : 6.6rem;
  height          : 6.6rem;
  border          : 0.2rem solid var(--COLOR-FONT);
  align-items     : center;
  flex-direction  : row-reverse;
  justify-content : center;
  transition      : all 0.2s ease-in-out;
}

.button > .arrow {
  z-index           : 2;
  display           : inline-block;
  width             : 1.8rem;
  height            : 1.8rem;
  margin-left       : -2.2rem;
  border            : solid var(--COLOR-FONT);
  border-width      : 0 0.2rem 0.2rem 0;
  -webkit-transform : rotate(-45deg);
  transform         : rotate(-45deg);
  transition        : all 0.3s ease-out;
}

.button > .line {
  z-index      : 1;
  display      : inline-block;
  width        : 0.2rem;
  height       : 0.2rem;
  border       : solid var(--COLOR-FONT);
  border-width : 0 3rem 0 0;
  transition   : all 0.4s ease-out;
}

.conclusion {
  max-width   : 78rem;
  margin-left : 10vw;
  text-align  : left;
}

.ending:hover {
  background-color : var(--COLOR-BG-HOVER);
}

.next:hover > .title {
  margin-right : -1rem;
  margin-left  : 2.5rem;
}

.next:hover > .button {
  background-color : var(--COLOR-FONT);
}

.next:hover > .button > .arrow {
  margin-left  : -3rem;
  border       : solid var(--COLOR-BG-HOVER);
  border-width : 0 0.5rem 0.5rem 0;
}

.next:hover > .button > .line {
  width        : 3rem;
  opacity      : 0;
  border-width : 0;
}

/* ========== Font Styles ========== */

.font-showcase-title {
  text-align     : left;
  text-transform : uppercase;
  font-family    : "SF Pro Display",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 24px;
  font-style     : normal;
  font-weight    : 800;
  line-height    : 120%;
}

.font-showcase-desc {
  opacity        : 0.3;
  text-align     : left;
  font-family    : "SF Pro Text",
                   "Helvetica",
                   "Tahoma",
                   sans-serif;
  font-size      : 16px;
  font-style     : normal;
  font-weight    : normal;
  line-height    : 150%;
  letter-spacing : -0.01em;
}

/* ========== Font Styles ========== */

@media
  screen
  and (max-width : 500px) {
  .wrapper > section {
    border-top    : solid 1rem var(--COLOR-BG);
    border-bottom : solid 1rem var(--COLOR-BG);
  }

  #home {
    left   : 3rem;
    width  : 5rem;
    height : 5rem;
  }
}
