:root {
  --SIZE-SHOWCASE-HEIGHT : 100rem;
}

.wrapper > section {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  height             : 100vh;
  max-height         : var(--SIZE-SHOWCASE-HEIGHT);
  margin-right       : 0;
  border-top         : solid 0.5rem var(--COLOR-BG);
  border-bottom      : solid 0.5rem var(--COLOR-BG);
  border-left        : solid 0.5rem var(--COLOR-BG);
}

/* ========== Openning ========== */

.openning {
  z-index          : -10;
  display          : flex;
  position         : relative;
  color            : var(--COLOR-FONT);
  background-color : var(--COLOR-BG);
  align-items      : center;
  flex             : 1 0 95vw;
}

.openning > h1 {
  z-index        : 2;
  margin-left    : 10vw;
  text-align     : left;
  pointer-events : none;
  /* for the processing underneath */
}

.openning > .divider {
  z-index          : 2;
  width            : 0.2rem;
  height           : 16rem;
  margin           : 0 12rem;
  background-color : var(--COLOR-FONT);
  pointer-events   : none;
  /* for the processing underneath */
}

.openning > .brief {
  z-index        : 2;
  max-width      : 78rem;
  pointer-events : none;
  /* for the processing underneath */
}

.brief > p {
  margin-bottom : 2rem;
  text-align    : left;
}

.brief > p:last-child {
  margin-bottom : 0;
}

/* ========== Showcase Sections ========== */

.showcase {
  display          : flex;
  position         : relative;
  min-width        : 100px;
  height           : 100%;
  overflow         : hidden;
  background-color : #FFF;
  align-items      : center;
  flex             : 1 0 auto;
  flex-direction   : row;
  justify-content  : center;
}

.showcase > .desc {
  position   : absolute;
  bottom     : 3rem;
  left       : 5rem;
  width      : 80%;
  color      : var(--COLOR-DARK);
  opacity    : 0.3;
  text-align : left;
}

.showcase-column {
  background-color : var(--COLOR-BG);
  flex-direction   : column;
}

.showcase-column > .cube {
  width            : 100%;
  margin-bottom    : 0.5rem;
  background-color : white;
  text-align       : center;
  flex             : 1 1 auto;
}

.showcase-column > .cube:last-child {
  margin-bottom : 0;
}

/* ========== Phones ========== */

.phone {
  display           : flex;
  position          : relative;
  width             : 64rem;
  height            : 80rem;
  background-image  : url("../images/hd-iphone-shadow.png");
  background-repeat : no-repeat;
  background-size   : contain;
  align-items       : center;
  flex-direction    : column;
}

.phone > .cover {
  z-index           : 2;
  width             : 64rem;
  height            : 80rem;
  background-repeat : no-repeat;
  background-size   : contain;
}

.phone > img {
  z-index  : 1;
  position : absolute;
  top      : 3.6rem;
  width    : 27.8rem;
}

.phone > .light {
  background-image : url("../images/hd-iphone-light.png");
}

.phone > .dark {
  background-image : url("../images/hd-iphone-light.png");
}

.come-closer {
  margin-left : -20rem;
}

.side-by-side {
  margin-left : -31.5rem;
}

/* ========== Ending ========== */

.ending {
  z-index          : -10;
  display          : flex;
  position         : relative;
  color            : var(--COLOR-FONT);
  background-color : var(--COLOR-BG);
  align-items      : center;
  flex             : 1 0 95vw;
  justify-content  : space-between;
}

.next {
  display        : flex;
  height         : 100%;
  padding        : 0 4vw;
  align-items    : center;
  flex-direction : row;
  transition     : all 0.5s ease-in-out;
  cursor         : pointer;
}

.next > .title {
  margin-left : 1.5rem;
  padding-top : 0.8rem;
  transition  : all 0.5s ease-in-out;
}

.next > .button {
  display          : flex;
  width            : 6.6rem;
  height           : 6.6rem;
  border           : 0.2rem solid var(--COLOR-FONT);
  align-items      : center;
  flex-direction   : row-reverse;
  justify-content  : center;
  transition       : all 0.2s ease-in-out;
}

.button > .arrow {
  z-index           : 2;
  display           : inline-block;
  width             : 1.8rem;
  height            : 1.8rem;
  margin-left       : -2.2rem;
  border            : solid var(--COLOR-FONT);
  border-width      : 0 0.2rem 0.2rem 0;
  -webkit-transform : rotate(-45deg);
  transform         : rotate(-45deg);
  transition        : all 0.3s ease-in;
}

.button > .line {
  z-index      : 1;
  display      : inline-block;
  width        : 0.2rem;
  height       : 0.2rem;
  border       : solid var(--COLOR-FONT);
  border-width : 0 3rem 0 0;
  transition   : all 0.4s ease-in;
}

.conclusion {
  max-width   : 78rem;
  margin-left : 10vw;
  text-align  : left;
}

.next:hover {
  background-color : var(--COLOR-BG-HOVER);
}

.next:hover > .title {
  margin-left : 2.5rem;
  margin-right: -1rem;
}

.next:hover > .button {
  background-color : var(--COLOR-FONT);
}

.next:hover > .button > .arrow {
  margin-left  : -3rem;
  border       : solid var(--COLOR-BG-HOVER);
  border-width : 0 0.5rem 0.5rem 0;
}

.next:hover > .button > .line {
  width        : 3rem;
  opacity      : 0;
  border-width : 0;
}

/* ========== Font Styles ========== */

@media
  screen
  and (max-width : 500px) {
  .wrapper > section {
    border-top    : solid 1rem var(--COLOR-BG);
    border-bottom : solid 1rem var(--COLOR-BG);
  }
}
