:root{
  --COLOR-DARK: #232323;
  --COLOR-RED: #EB0000;
  --CURVE-SHOW: cubic-bezier(0.6,0,0,1);
}

@font-face {
  font-family: 'New York';
  src: url('fonts/NewYork.otf')  format('opentype');
}
@font-face {
  font-family: 'Rock Salt';
  src: url('fonts/RockSalt.ttf')  format('truetype');
}

html, body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "New York","SF Pro Text","Helvetica","Tahoma",sans-serif;
  color: var(--COLOR-DARK);
  overflow-y: hidden;
}
p,h1,a,button,iframe {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}


.wrapper {
  height: 100%;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  perspective: 100rem;/* for parallax */
  -webkit-overflow-scrolling: touch; /* for iOS */
}
.wrapper > div {
  margin-right: 2rem;
  height: 80vh;
  max-height: 80rem;
}



/* ========== Sections ========== */
.section-intro {
  /* position: relative; */
  display: flex;
  align-items: center;
  flex: 1 0 95vw;
}
.section-intro .content {
  margin-left: 10vw;
  max-width: 73rem;
  flex: 1 1 auto;
  transform: translateZ(5rem);
}
.intro-name {
  margin-bottom: 4rem;
}
.intro-os {
  position: relative;
  left: 12rem;
  transform: rotate(-5deg);
  color: var(--COLOR-RED);
}
.intro-go-to-ins {
  color: var(--COLOR-RED);
  text-decoration: underline;
}
.intro-go-to-ins:hover {
  color: var(--COLOR-DARK);
}

#section-sketch-seeking {
  margin-left: -18vw;
  height: 100%;
  flex: 1 1 auto;
  background-color: #F4F4F4;
  z-index: -10;
  overflow: hidden;
}


/* General settings */
.section{
  position: relative;
  height: 100%;
  flex: 1 0 48rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.section:hover{
  cursor: pointer;
}
.section > .content{
  max-width: 80%;
  margin-bottom: 5rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.section > .content > h1{
  margin-bottom: 3rem;
}
.section > .hover{
  position: absolute;
  z-index: 20;
  opacity: 0;
  transition: all 1s cubic-bezier(0.8,0,0.9,0);
}


/* Specific sections */
.section-echo {
  color: #F1EC6B;
  background-color: #DC2107;
}
#section-sketch-echo {
  border: 0;
  position: absolute;
  top: 10rem;
  height: 400px;
  width: 300px;
  z-index: 1;
}
.hover-echo{
  width: 15rem;
  left: -5rem;
  bottom: 15rem;
  filter: drop-shadow(1.5rem 1rem 1.5rem rgba(151, 100, 0, 0.4));
  transform: translate3d(10rem,5rem,0);
}
.section-echo:hover > .hover-echo{
  transition: all 1s;
  transition-timing-function: var(--CURVE-SHOW);
  transform: translate3d(0,0,5rem) ;
  opacity: 1;
}


.section-wechat {
  background-color: #2C7631;
  color: #D7BF91;
}
.section-wechat .contant{
  z-index: 2;
}
.hover-wechat{
  filter: drop-shadow(1.5rem 1rem 1.5rem rgba(0, 114, 8, 0.4));
}
.hover-wechat-big{
  width: 10rem;
  top: 10rem;
  left: -1rem;
  transform: translate3d(25rem,25rem,-20rem) rotateZ(30deg) rotateY(90deg);
}
.hover-wechat-small{
  width: 9rem;
  bottom: 25rem;
  right: -1rem;
  transform: translate3d(-25rem,-25rem,-20rem) rotateZ(30deg) rotateY(-90deg);
}
.section-wechat:hover > .hover-wechat-big{
  transition: all 1s;
  transition-timing-function: var(--CURVE-SHOW);
  transform: translate3d(0,0,10rem) ;
  opacity: 1;
}
.section-wechat:hover > .hover-wechat-small{
  transition: all 1s;
  transition-timing-function: var(--CURVE-SHOW);
  transform: translate3d(0,0,5rem) ;
  opacity: 1;
}
#section-sketch-wechat {
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: 480px;
  z-index: 1;
}



.section-ddz {
  background-color: #353535;
  color: #FFF;
}
.section-flyme {
  flex-basis: 32rem;
  background-color: #46C8FF;
  color: #FFF;
}
.section-qq {
  flex-basis: 32rem;
  background-color: #0050EC;
  color: #FFF;
}
.section-others {
  flex-basis: 32rem;
  background-color: none;
}
.section-others > div:first-child {
  margin-bottom: 2rem;
}

.section-olddays {
  background-color: #FFC2E3;
  color: #FFF;
  width: 100%;
  flex: 1 1 auto;
}
.section-learning {
  background-color: #004251;
  color: #FFF;
  width: 100%;
  flex: 1 1 auto;
}



.section-contact {
  position: relative;
  flex: 1 0 90vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.section-contact > .content {
  margin-right: 4%;
  text-align: right;
}
.section-contact > .footer{
  position: absolute;
  bottom: 0;
  right: 4%;
}
.get-in-touch{
  background-color: var(--COLOR-RED);
  padding: 1rem;
  color: white;
}

#section-sketch-connect {
  margin-right: -10%;
  height: 100%;
  min-width: 80rem;
  flex: 1 1 auto;
  background-color: #F4F4F4;
  z-index: -10;
  overflow: hidden;
}

/* ========== Text Styles ========== */

.font-overview-headline {
  font-family: "New York";
  font-size: 6rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.05rem;
  color: var(--COLOR-DARK);
}

.font-overview-subtitle {
  font-family: "New York";
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  color: var(--COLOR-DARK);
  opacity: 0.2;
}

.font-overlapping-sound {
  font-family: "Rock Salt";
  font-size: 1.4rem;
  line-height: 3.3rem;
  letter-spacing: 0.1em;
}

.font-section-title {
  font-family: "New York";
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
}
.font-section-desc {
  font-family: "SF Pro Text","Helvetica","Tahoma",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.font-section-footer{
  font-family: "SF Pro Text","Helvetica","Tahoma",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: right;
  letter-spacing: -0.01em;
  color: var(--COLOR-DARK);
  opacity: 0.3;
}




/* ========== Scaling ========== */
@media screen and (max-width: 1280px) {
    html {
      font-size: 52%;
    }
}
@media screen and (max-width: 500px) {
    html {
      font-size: 43%;
    }
    .section{
      flex: 1 0 100vw;
    }
    .section-intro .content {
      flex: 0 1 80vw;
      transform: translateZ(0rem);
    }
    #section-sketch-seeking {
      margin-left: -50vw;
      max-width: 130vw;
    }
}
