.title {
    width: 300px;
}

.wish {
    width: 300px;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#sketch {
    width: 340px;
    height: 500px;
}